.fontsize-12
{
    font-size: 12px !important;
}

.margin-20 {
    margin: 20px;
}

.marginTop-20 {
    margin-top: 20px;
}

.ui.table td
{
    padding: 10px !important;
}

.float-right
{
    float: right;
}

.ui.pagination.menu
{
    background-color: #1a69a4;
}

.ui.pagination.menu .item
{
    color: #fff;
}

.ui.pagination.menu .active.item
{
    color: yellow !important;
}

.custom-dropdown{
    background-color: #1a69a4;
    color: #fff;
}

.ui.dropdown>.text
{
    padding: 10px;
}

.container_table {
    height: 465px;
    overflow-y: auto;  /* or auto */
  }